<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>store</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h2>hola mundo : {{ products }}</h2>
        <a href="product/">product</a>
        <h2>Images: </h2>
        <a href="image/">image</a>

        
    </body>
</html>